<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <nav class="nav">
        <img src="{{ asset('build/images/LOGO_DC.png') }}" height= 100px width= 150px alt="logoDC">
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('category_new') }}">Ajouter catégorie</a>
            </li>
        </ul>
    </nav>
    <main class="main-content">
        <section>
            {% block body %}{% endblock %}
        </section>
        <section>
            <h2>Widgets</h2>
            {% block sidebar %}
            {% endblock %}
        </section>
    </main>
        <footer>
            <p>
                Catégories :
            </p>
            {{ render(controller('App\\Controller\\DefaultController::navCategory')) }}

        </footer>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
