{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}


    <h1>{{ article.title }}</h1>
    <img src="{{ asset('uploads/' ~ article.picture) }}" height="200px" width="300px" alt="art-picture">
    <p>{{ article.content }}</p>
    <hr>
    <p>
        Catégorie : <a href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.label }}</a>
    </p>
    <hr>
    <p>
        Balise(s) :
    </p>
    <ul>
    {% for tag in article.tags %}
        <li>
            <a href="{{ path('tag_show', {'id': tag.id}) }}">{{ tag.label }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
