{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}


    <h1>{{ article.title }}</h1>
    <img src="{{ asset('uploads/' ~ article.picture) }}" height="200px" width="300px" alt="art-picture">
    <p>{{ article.content }}</p>
    <hr>
    <h2> Catégorie :</h2>
    <p>
        <a href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.label }}</a>
    </p>
    <hr>
    <h2>
        Commentaire(s) :
    </h2>
    {% if app.user %}
    {{ render(controller('App\\Controller\\CommentController::new', {'article': article} )) }}
    {% else %}
    <p>Veuillez vous <a href="{{ path('app_login') }}">connecter</a> </p>
    {% endif %}
    <section>
        {% for comment in comments %}
            <article>
                <em>{{ comment.createdAt|date('d-m-Y') }}</em>
                <p>{{ comment.content }}</p>
                <p></p>
            </article>
        {% endfor %}
    </section>
    <hr>
    <p>
        Balise(s) :
    </p>
    <ul>
    {% for tag in article.tags %}
        <li>
            <a href="{{ path('tag_show', {'id': tag.id}) }}">{{ tag.label }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
